*
*/

!README.org
!.gitignore
!.gitsubmodules
!LICENSE
!flake.nix
!flake.lock

!org-texmacs.el
!org-texmacs-*.el
!org-texmacs-worker.scm

!.github/
!.github/**/
!.github/**/*.yaml

!tests/
!tests/**/
!tests/**/*.el
!tests/**/*.nix
!tests/**/*.scm

*~
*#
**/tmp/
